###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/cache/*
!/var/cache/.gitkeep
/var/lock/*
!/var/lock/.gitkeep
/var/log/*
!/var/log/.gitkeep
/var/storage/*
!/var/storage/.gitkeep
/vendor/
###< symfony/framework-bundle ###
###> psalm/phar ###
/psalm.xml
###< psalm/phar ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
